.out{
  width: 400px;
  height: 400px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  padding: 40px ;
}
.in{
  width: 200px;
  height: 200px;
  background-color: crimson;
}